@import url('https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css');

*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

html{
    width:100%;
}

body{
    width: 100%;
    height: 100%;
    background-image: url(../assets/img/background.jpg);
    background-repeat: no-repeat;
}

.flex-container div h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style:italic;
    font-size: 50px;
    font-weight: bold;
}

.flex-container{
    display:flex;
    align-items:center;
    flex-direction: row;
    justify-content: space-around;

}

.flex-container div{
    margin: 1rem;
    padding: 1rem;
}

.flex-container div a{
    color:rgb(0, 0, 0);
    text-decoration: none;
}

.flex-container div a:hover{
    color:rgb(102, 143, 94);
    text-decoration: underline;
}

.carrito-style{
    font-size: 20px;
    font-weight: bold;
}

main{
    width:100%;
    height:100%;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: bold;
}

input{
    display:flex;
    align-items:center; 
    width: 95% !important;
    height: 40px;
    text-align: center;
    margin:25px;
    padding: 5px;
    border-radius: 5px;
    font-size:larger;
}

.alinear-centro{
    display: flex;
    justify-content:center;
}

.opciones{
    display:flex;
    flex-direction: column;
    margin:10px;
    padding: 10px;
    background-image: url(../assets/img/fondo-tabla.jpg);
    width:fit-content;
}


.instruccionUso{
    padding: 20px;
}

.emoji-image {
    font-size: 24px;
}

thead {
    font-weight: 800;
    font-size: larger;
}

tbody tr:hover {
    background: rgba(102, 143, 94, 0.678);
}

.button-big-emoji {
    font-size: x-large;
}

.carrito h1{
    color: rgb(20, 20, 20);
    text-align: center;
}

.tablaCarrito{
    margin:10px;
    padding:5px;
}

.div-button{
    display:flex;
    justify-content: center;
}

.comprarProd{
    display:flex;
    align-items: center;
    margin: 20px;
}

.borrarCarrito{
    display:flex;
    align-items: center;
    margin: 20px;
}