*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

html{
    height:100%;
}

body{
    width: 100%;
    height: auto;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    background-repeat: no-repeat;
    
}

header{
    text-align: center;
    text-decoration: underline;
    color: rgb(245, 114, 114);
}
main{
    width:100%;
    height:100%;
    margin: 20px;
    color: rgb(0, 0, 0);
}

nav ul{
    display:flex;
    flex-direction: column;
    list-style-type: none;
    text-decoration: none;
    padding: 20px;
    margin: 10px;
    gap: 20px;
}

.instruccionUso{
    padding: 20px;
}

